@tailwind base;
@tailwind components;
@tailwind utilities;

/* xoá nền đen */
.lk-room-container {
    background-color: transparent !important;
}

/* đổi chỗ 2 button camera và micro */
.lk-button-group {
    order: 2;
}
.lk-button-group:nth-child(2) {
    order: 1;
}

.lk-participant-tile:nth-child(2) {
    display: none;
}
.lk-participant-tile:nth-child(1) {
    display: none;
}

.show-video-bottom {
    position: absolute !important;
    width: 98%;
    height: 100%;
    display: block !important;
    z-index: 0;
}

.show-video-top {
    position: absolute !important;
    margin-right: -8px;
    top: 12;
    right: 2%;
    width: 20%;
    height: 24%;
    z-index: 1;
    display: block !important;
}
